.sidepanel {
  background-color: rgba(0,0,0, 0.8);
  position: fixed;
  top: 0; bottom: 0;

  width: 300px;
  color: white;
  z-index: 10;
  transition: all 0.5s ease-in-out;
}

.left {
  left: -300px;
}

.right {
  right: -300px;
}

.leftOpen {
  left: 0;
}

.rightOpen {
  right: 0;
}
